<div class="row mb-2">
    <div class="col-sm">
        <label>Title</label>
        <input type='text' name="title" value="<%= game.title %>" class="form-control">
    </div>
    <div class="col-sm">
        <label>Developer</label>
        <select name="developer" class="form-select">
            <% developers.forEach(developer=> { %>
                <% if (developer.id===game.developer) { %>
                    <option selected label="<%= developer.name %>" value="<%= developer.id %>">
                        <% } else { %>
                    <option label="<%= developer.name %>" value="<%= developer.id %>">
                        <% } %>
                            <% }) %>
        </select>
    </div>
</div>
<div class="row mb-2">
    <div class="col-sm">
        <label>Published Date</label>
        <input type='date' class="form-control" name="publishDate" value="<%= game.publishDate == null ? '' : 
                game.publishDate.toISOString().split('T')[0] %>">
    </div>
    <div class="col-sm">
        <label>Game Size</label>
        <input type='number' class="form-control" name="size" min="1" step="0.01" value="<%= game.size %>">
    </div>
</div>
<div class="row">
    <div class="col-4">
        <label>Cover</label>
        <input type='file' name="cover" class="game-cover filepond">
    </div>
    <div class="col-sm">
        <label>Description</label>
        <textarea name='description' class="form-control"><%= game.desrciption %></textarea>
    </div>
</div>