
<h2>
    <%=game.title%>
</h2>
<div class="game-details">
    <img class="game-cover" src="<%= game.coverImagePath %>">

    <div class="game-details-grid">
        <div class="game-details-label">Publisher:</div>
        <div><%=game.developer.name%></div>
        <div class="game-details-label">Published Date:</div>
        <div><%=game.publishDate.toDateString()%></div>
        <div class="game-details-label">Game Size:</div>
        <div> <%=game.size%> Gb</div>
        <div class="game-details-label">Description:</div>
        <div> <%=game.description%></div>
    </div>
</div>
<br>
<div>
    <div class="d-grid gap-2 d-flex mb-2">
        <a href="/games/<%=game.id%>/edit" class="btn btn-warning">Edit</a>
        <%- include ("../partials/deleteForm", { url: `/games/${game.id}`}) %>
    </div>
    <a href="/developers/<%= game.developer.id%>"class='btn btn-primary'>View Developer</a>
</div>
